@use "../abstract/variable" as *;

.addPostPage {
    @include flexbox(column, space-evenly, center);
    @extend %basicComponent;
    padding-bottom: 0;
    width: 90vw;
    background-color: #fff;

    .addPostTitle {
       line-height: 80px; 
       padding: 0 20px;
       text-align: center;
    }

    .addPostAndRender{
        @include flexbox(column, space-evenly, center);
        min-height: 800px;
        width: 100%;
        padding: 20px;
        .addPostMain {
            @include flexbox(column, space-between, center);
            height: 100%;
            width: 100%;
            overflow-x: scroll;
            .titleAndCategory {
                @include flexbox(column, space-between, center);
                width: 80%;
                line-height: 40px;
                margin-bottom: 40px;
                .titleInput {
                    text-align: center;
                    height: 40px;
                    width: 80%;
                    padding: 5px 20px 0;
                    border: 1px solid #ccc;
                    font-size: 18px;
                }
                .categorySelection {
                    text-align: center;
                    padding: 0 20px;
                    height: 30px;
                    width: 60%;
                    border: 1px solid #ccc;
                    background-color: #fff;
                }
            }
            .editorContainer {
                @include flexbox(column, space-evenly, center);
                //編輯器內文控制
                .quill {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: 80vw;
                    overflow-x: scroll;
                    .ql-container {
                        min-height:60vh; 
                        p{
                            font-weight: 800;
                        }
                    }
                }
                .previewBtn {
                    @extend %submitBtn2;
                    text-align: center;
                }
            }
            
            .postCover {
                @include flexbox(column, space-between, center);
                width: 100%;
                padding: 40px;
                .uploadImgSection {
                    @include flexbox(row, space-around, center);
                    width: 100%;
                    padding:30px;
                    @include mobileS {
                        @include flexbox (column, space-between, center);
                        min-height:200px; 
                    }
                     input[type="file"] {
                    display: none;
                    }
                    .customFileUpload {
                        border: 1px solid #ccc;
                        display: inline-block;
                        padding: 6px 12px;
                        transition: 0.3s;
                        background-color: #ccc;
                        border-radius: 20px;
                        font-weight: 800;
                        cursor: pointer;
                        &:hover {
                            transform: translateY(-10%);
                            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
                            background-color: #ddd;
                        }
                        &:active {
                            transform: translateY(0%);
                            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
                        }
                    }
                    label ~ div {
                        width:30%;
                        color:#ccc;
                        border: 1px solid #ccc;
                        height: 100%;
                        padding: 10px 20px;
                        @include mobileS {
                            width: 100%;
                        }
                    }
                }
                .postCoverPreview {
                    border: 1px solid #ccc;
                    @include flexbox(column, center, center);
                    color: #ccc;
                    font-size: 26px;
                    aspect-ratio:16/9;
                    width: 50%;
                    >img{
                        width: 100%;
                    }
                }
            }
        }
        .previewPostTitle{
            width: 100%;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
        }
        .previewPost {
            @include flexbox(column, start, center);
            padding:0 1rem 1rem ;
            transform: scale(0.9) ;
            width: 100%;
            min-height: 600px;
            border: 1px solid #ccc;
            overflow: scroll;
            line-height: 20px;
            .previewPostTitle {
                text-align: center;
            }
            .postContent{
            }
        }
        .submitPost {
            @extend %submitBtn2;
        }
    }
    
}
.errorPage{
    @extend %errorPage;
}
