@use "../abstract/variable" as *;

.navSection{
    @include flexbox(column, space-between, center);
    transition: 0.7s;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    .navBar{
        padding: 0 30px;
        background-color: #eeeeeeee;
        backdrop-filter: blur(1px);
        width: 100vw;
        @include flexbox(row, space-between, center);
        border-bottom: 1px solid #ccc;
        z-index: 10;
        
        a {
            text-decoration: none;
            color: #000;
            cursor: pointer;
            .logoSection {
                transition: 0.3s;
                cursor: pointer;
                @include flexbox(row, center, center);
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
                .logo {
                    @extend %preventSelect;
                    width: 60px;
                    cursor: pointer;
                    >img {
                        cursor: pointer;
                    }
                }
                .logoWord {
                    @extend %preventSelect;
                    cursor: pointer;
                    line-height: 60px;
                    font-size: 50px;
                    font-weight: 800;
                    padding: 0 20px;
                    transition: 0.3s;
                    @include mobileS {
                        display: none;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 60%;
                        top: 50%;
                        width: 100px;
                        height: 70px;
                        background-image: url("../svg/—Pngtree—hand\ drawn\ coil\ circle\ doodle_5780052.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        transform: translateX(-50%) translateY(-50%);
                        display: none;
                    }
                    &:hover {
                        &::after{
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .flexEnd {
            @include flexbox(row, space-between, center);
            .searchBar {
                background-color: rgba(255, 255, 255, 0);
                @include flexbox(row, center, center);
                @include pad {
                    display: none;
                }
                border-bottom: 5px solid #000; 
                .searchlogo{
                    width:30px;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                input {
                    width: 200px;
                    height: 30px;
                    padding:15px;
                    border: none;
                    font-weight: 800;
                    background-color: rgba(255, 255, 255, 0);
                    &:focus {
                        outline: none;
                    }
                }
            }
            .menuBtn {
                border: 5px solid #bbb;
                border-radius: 20px;
                padding: 15px;
                font-weight: 800;
                cursor: pointer;
                transition: 0.3s;
                margin-left: 20px;
                color: #bbb;
                &:hover {
                    transform: translateY(-5%);
                    color: #000;
                    border: 5px solid #000;
                }
            }
            .navBarList {
                //背景圖
                &::before{
                    content: "";
                    background-size: cover;
                    background-position: center;
                    background-image: url("../svg/pexels-icon-com-479444.jpg");
                    filter: brightness(90%);
                    height: 100%;
                    width: 100%;
                    opacity: 0.7;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                @include flexbox(column, center, start);
                overflow: hidden;
                width: 100dvw;
                height: 100dvh;
                transform: translateX(100%);
                position: fixed;
                top: 0;
                right: 0;
                z-index: 999;
                background-color: #ccc;
                transition: 0.3s;
                .navBarListBanner{
                    @include flexbox(row, space-between, center);
                    position: absolute;
                    top: 0;
                    width: 100dvw;
                    .navBarListBannerLogo {
                        display: inline-block;
                        top:1.2rem;
                        line-height: 60px;
                        font-size: 70px;
                        font-weight: 800;
                        padding: 0 20px;
                        transition: 0.3s;
                        @include mobileS {
                            letter-spacing: 0px;
                        }
                    }
                    .navBarListClose {
                        padding: 0 20px;
                        font-size: 60px;
                        font-weight: 800;
                        display: inline-block;
                        cursor: pointer;
                        color: #fff;
                        transition: 0.2s;
                        &:hover {
                            color: #000;
                        }
                    }
                }
                .navBarListOption {
                    text-decoration: none;
                    // color: #eee;
                    transition: 0.35s;
                    position:relative;
                    padding: 20px;
                    text-wrap: nowrap;
                    font-size: 110px;
                    font-weight: 800;
                    -webkit-text-stroke: 0.5px #aaa;
                    z-index: 10;
                    @include pad {
                        font-size: 90px;
                    }
                    @include mobile{
                        font-size: 70px;
                    }
                    @include mobileS{
                        font-size: 50px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 60%;
                        width: 120px;
                        height: 120px;
                        background-image: url("../logo-svg/logo.svg");
                        transform: translateX(-100%) translateY(-50%) ;
                        transition: 0.2s;
                        // display: none;
                        
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width:0;
                        height: 10px;
                        background-color: #ccc;
                        bottom: 10px;
                        left: 0;
                        transition: 0.3s;
                    } 
                    &:hover {
                        transform: translateY(-5px) translateX(140px) ;
                        color: #000;
                        &::after {
                            // display: inline-block;
                        }
                        @include mobileS {
                            transform: translateY(-5px) translateX(0) ;
                        }
                    }
                    &:hover::before{
                        width: 100%;
                        background-color: #000;
                    }
                }
                .navBarSubBanner {
                    position: absolute;
                    right: 10%;
                    bottom: 10%;
                    -webkit-writing-mode: vertical-lr;
                    writing-mode: vertical-lr ;
                    -webkit-text-stroke: 1px #222;
                    color: rgba(255, 255, 255, 0);
                    // background-color: #0f0084;
                    font-size: 200px;
                    font-weight: 700;
                    text-align: end;
                    padding-top: 20px;
                    @include mobile {
                        font-size: 160px;
                    }
                    @include mobileS{
                        font-size: 120px;
                        right: 0; 
                    }
                }
            }
        }
    }
    .padSearchBar{
        @include flexbox(row, start, center);
        display:none;
        width: 100%;
        background-color: #eeeeeeee;
        backdrop-filter: blur(1px);
        @include pad {
            display: flex;
        }
        border-bottom: 1px solid #ccc; 
        .searchlogo{
            margin: 0 10px;
            width:32px;
            img{
                width:100%;
                height: 100%;
            }
        }
        input {
            font-size: 17px;
            width: 100%;
            height: 40px;
            padding:15px;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            &:focus{
                outline: none;
            }
        }
        
    }
    .categoryList {
        @include flexbox(row, center, center);
        list-style: none;
        width: 100%;
        padding: 20px 10%;
        border-bottom: 1px #ccc solid;
        background-color: #eeeeeeee;
        backdrop-filter: blur(1px);
        overflow: scroll;
        @include mobileS {
            padding: 20px 0;
            @include flexbox(row, center, center);
        }
        a {
            text-decoration: none;
            li {
                margin: 0 30px;
                line-height: 30px;
                cursor: pointer;
                font-weight: 800;
                font-size: 26px;
                transition: 0.2s;
                position: relative;
                padding: 0 30px;
                color: #bbb;
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 70px;
                    height: 50px;
                    background-image: url("../svg/—Pngtree—hand\ drawn\ coil\ circle\ doodle_5780052.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translateX(-50%) translateY(-50%);
                    display: none;
                }
                &:hover {
                    color: #000;
                    transform: scale(1.1);
                    &::after{
                        display: inline-block;
                    }
                }
                @include mobileS {
                    // padding: 0 10px;
                    font-size: 22px;
                    padding: 0 ;
                }
            }
        }
    }
}
.shrinkNavSection {
    transition: 1s;
    transform: translateY(-100%);
}